<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Great Number Game</title>
  </head>
  <body>
    <h1>Welcome to the Great Number Game</h1>
  	<p>I am thinking of a number between 1 and 100</p>
  	<p>Take a guess</p>

    {% if text=="low" %}
      Too low!

    {% elif text=='high'%}
      Too High!

    {% elif text =='equal' %}
      {{session['guessNum']}} was the number
      <form action='/reset' method="post">
        <input type="submit" name="submit" value="Play again">
      </form>
    {% endif %}
    {% if text != 'equal'%}
      <form action='/guess' method="post">
        <input type="text" name="num">
        <input type="submit" name="submit">
      </form>
    {% endif%}
  </body>
</html>
